html,
body {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

/*typography*/

h1,
h2,
h3 {
    text-align: center;
}

h1,
h2 {
    color: #eed6d3;
    margin: 0;
}
h1 {
    font-size: 28px;
}

h2 {
    font-size: 16px;
}

h3 {
    margin: 25px;
}

/* layout */

header {
    background-color: #67595e;
}

.header-inner {
    display: flex;
    align-items: center;
    width: 370px;
    margin: 0 auto;
    gap: 15px;
    padding: 10px 0 0 0;
}

.pumpkin-img {
    width: 80px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px auto;
}

.emotion-radios {
    display: flex;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
}

.radio {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 4px 8px;
    border-bottom: 1px solid #bcbcbc;
}

.radio:last-child {
    border-bottom: 0;
}

label {
    font-size: 14px;
    padding: 3px;
    width: 100%;
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}

.highlight {
    background-color: #fff0ee;
    color: #bd301d;
    font-weight: bold;
    accent-color: #bd301d;
}

.gifs-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.gifs-check-label {
    margin-right: 5px;
}

.get-image-btn {
    background-color: #67595e;
    color: #eed6d3;
    padding: 15px 19px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
}

/* modal */

.meme-modal {
    display: none; /*flex when displayed*/
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 490px;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff0ee;
    border: 1px solid #67595e;
    border-radius: 5px;
}

.meme-modal-close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    cursor: pointer;
}

.cat-img {
    max-width: 340px;
    max-height: 420px;
    border-radius: 5px;
}
